* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(54, 54, 53);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
}

.color {
    color: black;
}

.colorFondo {
    background-color: rgb(146, 146, 118);
}

.letra {
    font-weight: 700;
}

header {
    margin-bottom: 50px;
}

h2 {
    margin-bottom: 50px;
}

h3 {
    margin-bottom: 40px;
}

.margen {
    margin-top: 60px;
}

.tamaniobtn {
    width: 15%;
}


/* NavBar */

.navbar-nav {
    justify-content: center;
    width: 90%;
}

.bg-light {
    background-color: #ffc107 !important;
}

ul li {
    padding-left: 45px;
}

ul li a {
    color: black !important;
    font-weight: bold;
}


/* SECCION CARRITO */


/* Articulos */

.row {
    --bs-gutter-x: 0.12rem;
}


/* Total */

.strongTotal {
    color: #ffc107;
}


/* Footer */

.contenedor-footer {
    background-color: #ffc107;
    color: black;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    padding-top: 30px;
}

.mapa {
    width: 576px;
    height: 423px;
}

.texto-footer {
    padding-top: 30px;
    font-size: 20px;
}


/* Formuario */

.valido {
    border: 2px solid green;
}

.error {
    border: 2px solid red;
}