* {
    margin: 0;
    padding: 0;
}


/* Generales */

body {
    background-color: rgb(54, 54, 53);
    font-family: 'Prompt', sans-serif;
    text-align: center;
    color: white;
}

.color {
    color: black;
}

.colorFondo {
    background-color: rgb(146, 146, 118);
}

.letra {
    font-weight: 700;
}

header {
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 50px;
}

h3 {
    margin-bottom: 40px;
}

.margen {
    margin-top: 60px;
}

.noMostrar {
    display: none;
}

.fondo {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url(/imgs/fondo.jpg);
    background-position: center;
    background-size: cover;
}


/* NavBar */

.navbar-nav {
    justify-content: center;
    width: 90%;
}

.bg-light {
    background-color: #ffc107 !important;
}

ul li {
    padding-left: 45px;
}

ul li a {
    color: black !important;
    font-weight: bold;
}


/* SECCION CARRITO */


/* Articulos */

.row {
    --bs-gutter-x: 0.12rem;
}


/* Total */

.disposicionCompra {
    display: flex;
    justify-content: space-evenly;
}

.strongTotal {
    color: white;
}


/* Formulario */

.anchoFomulario {
    width: 30%;
    margin: 0 auto;
}

.valido {
    border: 2px solid green;
}

.error {
    border: 2px solid red;
}


/* FOOTER */

.caracteristicasFooter {
    background-color: #ffc107;
    color: black;
    margin-top: 30px;
}

.texto-footer {
    padding-top: 30px;
    font-size: 20px;
}


/* RESPONSIVE */

@media(max-width: 600px) {
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    p {
        font-size: 15px;
    }
    /* footer */
    .mapa {
        width: 180px;
        height: 200px;
    }
}